/* CSS for the citation and comcitation models*/

/* shared css */


#transcriber_details {
    float: right;
    padding-right: 10px;
}

#biblical_reference_div, #biblical_catena, #biblical_parallel {
    display: inline-block;
    padding-right: 10px;
}

.verse_text_reminder {
    font-style: italic;
    color: gray;
}

label.inline {
    margin-right: 5px;
}

label.inline input, label.inline select {
    margin-left: 5px;
}

label.inner {
    margin-left: 10px;
}

.basetext_text {
    margin-top: 10px;
}

label.text_area_label{
    vertical-align: top;
    padding-top: 20px;
}

#chapter, #verse {
    width: 4.5em;
}

/***********************************************************************/
/* citation form specifics */

.highlighted {
	color: red;
}

#citation_form #transcriber,
#privatecitation_form #transcriber {
    padding-right: 20px;
}

#citation_form #transcriber_details #modifier_details,
#privatecitation_form #transcriber_details #modifier_details {
    display: none;
}

#citation_form label.inner select,
#citation_form label.inner input,
#privatecitation_form label.inner select,
#privatecitation_form label.inner input {
    width: 7.5em;
}

#citation_form div#citation_details #citation_type,
#privatecitation_form div#citation_details #citation_type {
    margin-left: 6px;
}

#citation_form div#citation_details #citation_text,
#privatecitation_form div#citation_details #citation_text {
    margin-left: 10px;
}

#citation_form table,
#privatecitation_form table {
    font-size: 11pt;
}

.added_data {
    padding: 5px;
    background: #E6E6E6;
    border: 1px solid #A4A4A4;
    margin-bottom: 10px;
    margin-top: 10px;
}

#dependencies_data_div fieldset {
    margin-bottom: 5px;
}
