#personal_info.red {
  background-color: #ff3333;
}

#personal_info.orange {
  background-color: #ffb833;
}

#personal_info.yellow {
  background-color: ffff33;
}

#personal_info.green {
  background-color: #4dff4d;
}

#personal_info.blue {
  background-color: #3333ff;
}

#personal_info.indigo {
  background-color: aa33ff;
}

#personal_info.violet {
  background-color: #ff33ff;
}
