#personal_info.red {
  background-color: red;
}

#personal_info.orange {
  background-color: orange;
}

#personal_info.yellow {
  background-color: yellow;
}

#personal_info.green {
  background-color: green;
}

#personal_info.blue {
  background-color: blue;
}

#personal_info.indigo {
  background-color: indigo;
}

#personal_info.violet {
  background-color: violet;
}
