label.red {
  background-color: red;
}

label.orange {
  background-color: orange;
}

label.yellow {
  background-color: yellow;
}

label.green {
  background-color: green;
}

label.blue {
  background-color: blue;
}

label.indigo {
  background-color: indigo;
}

label.violet {
  background-color: violet;
}
