{% extends "citations/delete_base.html" %}
{% load static %}
{% load citation_filters %}



{% block message %}
	<p>Please confirm that you wish to delete this citation by clicking on the delete button below.</p>
	{% endblock %}

{% block dependencies %}
	<table id="dependency_table">
		<tbody>
			<tr>
				<th>Citation</th>

			</tr>
			<tr>
				<td>
					<ul id="citation_list">
						<li><img class="delete_logo" height="15px" width="15px" title="Delete this item" src="{% static 'citations/images/delete.png' %}" id="delete_{{ model }}_{{ data.id }}"/><a href="/citations/{{ model_label }}/{{ data.id }}">{{ data }}</a></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>


{% endblock %}
