{% extends "citations/item_base.html" %}

{% block relations %}
	{% if other_possible_authors %}
		<tr>
			<th>Other Possible Authors</th>
			<td>
				{% for author in other_possible_authors %}
					{% if author.id != data.author.id %}
						<a href="/citations/author/{{ author.id }}">{{ author }}</a><br/>
					{% endif %}
				{% endfor %}
			</td>
		</tr>
	{% endif %}
	<tr>
		<th>Editions</th>
		<td>
			{% for edition in editions %}
				<a href="/citations/edition/{{ edition.id }}">{{ edition }}</a><br/>
			{% endfor %}
		</td>
	</tr>
	<tr>
		<th>Citations</th>
		<td>
			{% for citation in citations %}
				<a href="/citations/citation/{{ citation.id }}">{{ citation.biblical_work.name }} {{ citation.chapter }}:{{ citation.verse }} {{ citation.citation_text }}</a><br/>
			{% endfor %}
		</td>
	</tr>
{% endblock %}	
