{% extends "citations/base.html" %}
{% load static %}
{% load citation_filters %}

{% block head %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'common/js/utils.js' %}"></script>
	<script type="text/javascript" src="{% static 'api/js/api.js' %}"></script>
	<script type="text/javascript" src="{% static 'common/js/auto-complete.js' %}"></script>
	<script type="text/javascript" src="{% static 'citations/js/search.js' %}"></script>
	<script type="text/javascript" src="{% static 'common/js/forms.js' %}"></script>
	<link rel=stylesheet href="{% static 'citations/css/search.css' %}" type="text/css"/>
	<link rel=stylesheet href="{% static 'common/css/auto-complete.css' %}" type="text/css"/>
	<script>
		$(document).ready(function () {
			search.initialise('advanced');
		})
	</script>
{% endblock %}

{% block breadcrumbs %}
	<div id="breadcrumbs">
		<a href="/citations/">Citations Home</a>
	</div>
{% endblock %}

{% block container %}
	<div id="container">
		<form id="advanced_search_form">
			<ul class="menu">
				<li class="menu-item" id="quick_search">Quick Search</li>
				<li class="menu-item-selected" id="advanced_search">Advanced Search</li>
			</ul>
			<p>Find all
				<select id="model_select">
					{% for model in models %}
						{% if model|get_id_field == 'citation' %}
							<option selected="selected" value="{{ model|get_id_field }}">{{ model|get_display_field }}</option>
						{% else %}
							<option value="{{ model|get_id_field }}">{{ model|get_display_field }}</option>
						{% endif %}
					{% endfor %}
				</select> where
			</p>
			<div id="search_lines_div">

			</div>
			<img class="add_logo" height="20px" width="20px" title="Add another search line" src="{% static 'citations/images/add.png' %}" id="add_search_line"/>
			<br/>
			<input type="button" value="Search" id="advanced_search_button"/>
		</form>


	</div>
{% endblock %}
