{% extends "citations/delete_base.html" %}
{% load static %}
{% load citation_filters %}


{% block message %}
	<p>In order to delete this series the references to it in the listed editions must also be deleted. The editions themselves will not be deleted but the reference to the series will be removed.</p>
{% endblock %}

{% block dependencies %}
	<table id="dependency_table">
	<tr>
		<th>Series</th>
		<th>Editions referencing this series</th>
	</tr>
	<tr>
	   <td></td>
	   {% if editions_count > 100 %}
            <td>Total {{ editions_count }} (100 shown)</td>
        {% else %}
            <td>Total {{ editions_count }}</td>
        {% endif %}
	</tr>
	<tr>
		<td>
			<ul id="series_list">
				<li>
					<img class="delete_logo" height="15px" width="15px" title="Delete this item" src="{% static 'citations/images/delete.png' %}" id="delete_{{ model }}_{{ data.id }}"/>
					<a href="/citations/{{ model }}/{{ data.id }}">{{ data }}</a>
				</li>
			</ul>
		</td>
	<td>
		{% if editions|length > 0 %}
			<ul id="edition_list">
				{% for ed in editions %}
					<li>
						<img class="delete_series_reference_logo" height="15px" width="15px" title="Delete series reference in this edition" src="{% static 'citations/images/delete.png' %}" id="delete_edition_{{ ed.id }}"/>
						<a href="/citations/edition/{{ ed.id }}">{{ ed }} [{{ ed.work }}]</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</td>
	</tr>
	</table>


{% endblock %}
