{% extends "citations/delete_base.html" %}
{% load static %}
{% load citation_filters %}


{% block message %}
	{% if privatedeps %}
		<p id="private_dependency_warning">The {{ model }} has dependencies in private projects that you do not have permissions to delete.
		There may also be further dependencies that cannot be deleted.
		Please contact ITSEE staff for advice.</p>
		<p>All dependencies in main projects are shown below, those with the delete button can be deleted.</p>
		<p>Please be very careful when deleting items, especially involving citations for which you do not have responsibility.
		Check with other citation managers if necessary.</p>
		<p>In the case of 'Dependencies within Citations' the citation itself will not be deleted just the dependency that refers to this {{ model }}.</p>
		<p>In the case of 'Possible works' the work itself will not be deleted just the link to this author.</p>
		<p>Dependencies should be deleted from each column working from right to left.</p>
	{% else %}
		<p>In order to delete this {{ model }} all of the items listed below must either be deleted or modified due to dependencies.
		Please be very careful when deleting items, especially involving citations for which you do not have responsibility.
		Check with other citation managers if necessary.</p>
		<p>In the case of 'Dependencies within Citations' the citation itself will not be deleted just the dependency that refers to this {{ model }}.</p>
		<p>In the case of 'Possible works' the work itself will not be deleted just the link to this author.</p>
		<p>All items should be deleted from each column working from right to left before the {{ model }} can be deleted.</p>
	{% endif %}
{% endblock %}

{% block dependencies %}
	<table id="dependency_table">
	<tr>
		<th>{{ model|get_title_case }}</th>
		{% for rel in relations_order %}
			<th>{{ rel|get_display_field }}</th>
		{% endfor %}
	</tr>
	<tr>
	    <td></td>
	    {% if works_count > 100 %}
            <td>Total {{ works_count }} (100 shown)</td>
        {% else %}
            <td>Total {{ works_count }}</td>
        {% endif %}
        {% if possible_works_count > 100 %}
            <td>Total {{ possible_works_count }} (100 shown)</td>
        {% else %}
            <td>Total {{ possible_works_count }}</td>
        {% endif %}
	    {% if editions_count > 100 %}
            <td>Total {{ editions_count }} (100 shown)</td>
        {% else %}
            <td>Total {{ editions_count }}</td>
        {% endif %}
        {% if citations_count > 100 %}
            <td>Total {{ citations_count }} (100 shown)</td>
        {% else %}
            <td>Total {{ citations_count }}</td>
        {% endif %}
        {% if dependencies_count > 100 %}
            <td>Total {{ dependencies_count }} (100 shown)</td>
        {% else %}
            <td>Total {{ dependencies_count }}</td>
        {% endif %}
	</tr>
	<tr>
		<td>
			<ul id="author_list">
				<li>
					{% if not privatedeps and possible_works|length < 1%}
						<img class="delete_logo" height="15px" width="15px" title="Delete this item" src="{% static 'citations/images/delete.png' %}" id="delete_{{ model }}_{{ data.id }}"/>
					{% else %}
						<img height="15px" width="15px" src="{% static 'citations/images/blackdot.png' %}"/>
					{% endif %}
					<a href="/citations/{{ model }}/{{ data.id }}">{{ data }}</a>
				</li>
			</ul>
		</td>
		<td>
		{% if works|length > 0 %}
			<ul id="work_list">
			{% for work in works %}
				<li>
					{% if work.id not in problem_works %}
						<img class="delete_dep_logo" height="15px" width="15px" title="Delete this item" src="{% static 'citations/images/delete.png' %}" id="delete_work_{{ work.id }}"/>
					{% else %}
						<img height="15px" width="15px" src="{% static 'citations/images/blackdot.png' %}"/>
					{% endif %}
					<a href="/citations/work/{{ work.id }}">{{ work }}</a>
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	</td>
	<td>
		{% if possible_works|length > 0 %}
			<ul id="possible_work_list">
			{% for work in possible_works %}
				<li><img class="delete_possible_author_reference_logo" height="15px" width="15px" title="Delete this item" src="{% static 'citations/images/delete.png' %}" id="delete_work_{{ work.id }}_{{ model }}_{{ data.id }}"/><a href="/citations/work/{{ work.id }}">{{ work }}</a></li>
			{% endfor %}
			</ul>
		{% endif %}
	</td>
	<td>
		{% if editions|length > 0 %}
			<ul id="edition_list">
			{% for edition in editions %}
				<li>
					{% if edition.id not in problem_editions %}
						<img class="delete_dep_logo" height="15px" width="15px" title="Delete this item" src="{% static 'citations/images/delete.png' %}" id="delete_edition_{{ edition.id }}"/>
					{% else %}
						<img height="15px" width="15px" src="{% static 'citations/images/blackdot.png' %}"/>
					{% endif %}
					<a href="/citations/edition/{{ edition.id }}">{{ edition }} [{{ edition.work }}]</a>
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	</td>
	<td>
		{% if citations|length > 0 %}
			<ul id="citation_list">
				{% for cit in citations %}
					<li>
						<img class="delete_dep_logo" height="15px" width="15px" title="Delete this item" src="{% static 'citations/images/delete.png' %}" id="delete_citation_{{ cit.id }}"/>
						<a href="/citations/citation/{{ cit.id }}">{{ cit }}</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</td>
	<td>
		{% if dependencies|length > 0 %}
			<ul id="dependency_list">
				{% for dep in dependencies %}
					<li>
						<img class="delete_dep_logo" height="15px" width="15px" title="Delete this dependency" src="{% static 'citations/images/delete.png' %}" id="delete_dependency_{{ dep.id }}"/>
						<a href="/citations/citation/{{ dep.citation.id }}">{{ dep.citation }}</a> > {{ dep.author.abbreviation }} {{ dep.work.abbreviation }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</td>
	</tr>
	</table>

{% endblock %}
