{% extends "citations/edit_base.html" %}
{% load static %}


{% block head %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'citations/js/edit_edition.js' %}"></script>
{% endblock %}

{% block form %}
	<form id="edition_form" action="#">
		{% csrf_token %}
		<input class="integer" type="hidden" id="id" name="id"/>
    	<input class="string" type="hidden" name="identifier" id="identifier"/>
    	<input class="datetime" type="hidden" id="created_time" name="created_time"/>
		<input class="datetime" type="hidden" id="last_modified_time" name="last_modified_time"/>
		<input class="string" type="hidden" id="created_by" name="created_by"/>
		<input class="string" type="hidden" id="last_modified_by" name="last_modified_by"/>
		<div class="form_section">
			<label for="author" class="top width_half">Author: <b>*</b><br/><select id="author"></select></label> <!--  author is here for filtering convenience it is not stored so no name value -->
			<label for="work" class="top width_half">Work: <b>*</b><br/><select class="required integer" id="work" name="work"></select></label>
			<br/>
			<label for="year" class="top width_half">Date:<br/><input class="integer" type="text" id="year" name="year"/></label>
			<label for="editor" class="top width_half">Editor:<br/><input class="string" type="text" id="editor" name="editor"/></label>
			<br/>
			<label for="place" class="top width_half">Place:<br/><input class="string" type="text" id="place" name="place"/></label>
			<label for="page_information" class="top width_half">Page Info:<br/><input class="string" type="text" id="page_information" name="page_information"/></label>
			<br/>
			<label for="series" class="top width_half">Series:<br/><select id="series" name="series"></select></label>
			<label for="volume" class="top width_half">Volume:<br/><input class="string" type="text" id="volume" name="volume"/></label>
			<br/>
			<label for="independent_title" class="top width_full">Independent Title:<br/><input class="string" type="text" id="independent_title" name="independent_title"/></label>
			<br/>
			<label for="superseded">Superseded:<input class="boolean" type="checkbox" name="superseded" id="superseded"/></label>
		</div>
		<div class="form_section" style="display: none" id="legacy_edition_div">
			<label for="legacy_edition" class="top width_full">Legacy Edition Details:<input class="string" type="text" id="legacy_edition" name="legacy_edition"/></label>
			<img id="delete_legacy_edition" class="delete_logo" height="20px" width="20px" title="Delete this field. Should be done only when the legacy information is resolved and present in the edition data." src="{% static 'citations/images/delete.png' %}"/>
		</div>
		<div class="form_section">
			<label for="bham_shelfmark" class="top width_half">Bham Shelfmark:<br/><input class="string" type="text" id="bham_shelfmark" name="bham_shelfmark"/></label>
			<label for="onlinecorpus" class="top width_half">Online Corpus:<br/><select type="text" id="onlinecorpus" name="onlinecorpus"></select></label>
		</div>
		<div class="form_section">
			<label for="comments" class="top">Comments:</label><br />
			<textarea class="string" id="comments" name="comments" cols="65" rows="5"></textarea>
		</div>
		<div id="submit_section">
			<input id="submit_another" type="button" value="Save and add another"/>
			<br/>
			<input id="submit_continue" type="button" value="Save and continue editing"/>
			<input id="submit_home" type="button" value="Save and return to edition list"/>
			<br/>
			<input id="delete" class="delete_button" type="button" value="Delete edition"/>
			<input id="reset_form" class="delete_button" type="button" value="Reset form" />
		</div>
	</form>
{% endblock %}
