{% extends "citations/base.html" %}

{% block container %}
	<div id="container">
		<p>Welcome to the ITSEE citations database manager.</p>
		<p>To view, add or edit citations please click <a id="citations_link" href="/citations/citation">here</a></p>
		<p>Although you will see all of the citations you will only have permission to edit and add citations relevant to the project you are currently
		logged into. This is indicated in the header bar. If you have permission to work in multiple projects
		please use the switch projects button on this page to move between them.</p>
		<p>If you would like to restrict the citations visible to those relevant to the current project please
		use the search page <a id="search_link" href="/citations/search">here</a>.
	</div>
{% endblock %}

{% block footer %}
<div id="footer">
	{% if switch_button == True %}
		<a href="{{ switch_url }}">
			<button class="left_foot pure-button" id="switch_project_button">Switch project</button>
		</a>
	{% endif %}
</div>
{% endblock %}
