{% extends "citations/base.html" %}

{% block container %}
	<div id="container">
		<p>Welcome to the ITSEE citations database.</p>
		<p>The database contains citations of many Biblical books in Greek and Latin patristic authors up until the 8th Century.</p>
		<p>The Latin citations have been prepared in conjunction with the Vetus Latina Institute and many of the Greek citations in conjunction with Biblindex.</p>
		<p>To view the Latin citations please click <a id="citations_link" href="/citations/citation?language=lat">here</a>.
		<p>To view the Greek citations please click <a id="citations_link" href="/citations/citation?language=grc">here</a>.
		<p>To search the citations please click <a id="search_link" href="/citations/search">here</a>.
	</div>
{% endblock %}

