{% extends "citations/base.html" %}
{% load static %}

{% block head %}
	{{ block.super }}
	<link rel=stylesheet href="{% static 'citations/css/datadisplay.css' %}" type="text/css"/>
{% endblock %}

{% block breadcrumbs %}
	<div id="breadcrumbs">
		<a href="/citations/">Citations Home</a>
		>
		<a href="/citations/{{ model }}?{{ back_query }}">{{ page_title }} List</a>
	</div>
{% endblock %}

{% block container %}
	<div id="container">
		<table id="data_instance_table" class="data_instance">
			<tbody>
				{% block pre_standard_fields %}
				{% endblock %}
				{% block standard_fields %}
					{% for key, value in data.items %}
						{% if key == 'legacy_edition' and value.value == '' %}
							<!-- we don't want to put a line in if we have don't actually have legacy data -->
							<!-- once all the Latin editions are resolved we can lose this if and else block -->
						{% else %}
							<tr>
								<th>
									{{ value.label }}
								</th>
								<td>
									{% if value.value != '' %}
										{% if key == 'author' %}
											<a href="/citations/author/{{ value.value.id }}">{{ value.value }}</a>
										{% else %}
											{% if key == 'work' or key == 'series' or key == 'onlinecorpus' %}
												<a href="/citations/{{ key }}/{{ value.value.id }}">{{ value.value }}</a>
											{% else %}
												{% if key == 'url' %}
													<a target="new" href="{{ value.value }}">{{ value.value }}</a>
												{% else %}
													{{ value.value }}
												{% endif %}
											{% endif %}
										{% endif %}
									{% endif %}
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				{% endblock %}
				{% block relations %}
				{% endblock %}
			</tbody>
		</table>
	</div>
{% endblock %}
